version: '3.8'

services:
  dev-workspace:
    image: node:14.16.0-alpine
    working_dir: /workspace
    volumes:
      - .:/workspace:cached
    command: sh -c "npm i && sleep infinity"
    ports:
      - '8000:8000'

  dev-db:
    image: postgres:13.2-alpine
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - ./db-data:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  testing-db:
    image: postgres:13.2-alpine
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - '5433:5432'
