version: '3.8'

services:
  dev:
    image: node:14.16.0
    working_dir: /workspace
    volumes:
      - .:/workspace:cached
    command: sh -c "npm i && sleep infinity"
    env_file:
      - ./.env
      - ./.env.local
    ports:
      - '${PORT}:${PORT}'

  db:
    image: postgres:13.2
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - ./db-data:/var/lib/postgresql/data
    env_file:
      - ./.env
      - ./.env.local
    ports:
      - '${LOCAL_DB_PORT}:5432'

  db-testing:
    image: postgres:13.2
    environment:
      POSTGRES_PASSWORD: password
    env_file:
      - ./.env
      - ./.env.local
    ports:
      - '${LOCAL_DB_TESTING_PORT}:5432'
